// Font Sizes --------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 24px;

// Grid --------------------------------------------------------------

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: 0em;
$show-grid-backgrounds: true;

// Colors --------------------------------------------------------------

$base: #4c4c4c;
$alt: #005498;
