$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: 'rem';
$rem-with-px-fallback: true;

$sans-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$green: green;
$orange: #f47a0e;
$blue: #3272b0;
$grey: #434343;

$background-color: #F8F8F8;
$border-color: #DEDEDE;
