@import "normalize";
@import "compass";
@import "susy";

@import "config";

@import "base/elements";

@import "compass/css3/box";

html, body {
    height:100%;
    margin:0;
}

header{
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.grid, #app {
  height: 100%;
}

#main {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-top: 50px;
}

#sidebar {
    background-color:lightgreen;
    width:100px;
    position:relative;
}

#map-container {
    background-color: red;
    -webkit-flex: 1;
    flex:1;
    position:relative;
}

.sidebar {
    position:absolute;
    width:100%;
    height:100%;    
    overflow-y:auto;
}

#map{
      background-color:steelblue;
      width: 100%;
      height: 100%;
      position: absolute;
}
