@import "normalize";
@import "compass";
@import "susy";

@import "config";

@import "base/elements";

@import "compass/css3/box";


h1 {
  background: #333;
  color: #eee;
  text-transform: uppercase;
}

body{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  @include display-box;
  @include box-orient(vertical);
}

header{
  @include box-flex(1);
}


#main{
  @include display-box;
  @include box-orient(horizontal);
  // @include box-align(stretch);
  @include box-flex(1);
  width: 100%;
}

#sidebar {
  @include box-flex(1);
  overflow-y: scroll;
}

#map {
  // @include display-box;
  @include box-flex(5);
  background-color: red;
}
