/* line 17, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 53, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 57, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 14, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 18, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
.serif {
  font-family: Cambria, Georgia, serif;
}

/* line 21, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
.sans, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 24, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 27, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
.caps, .allcaps, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 30, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
.allcaps, caption {
  text-transform: uppercase;
}

/* line 34, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 40, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 53, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 58, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 66, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 68, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 70, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
a:focus, a:hover, a:active {
  color: #005498;
  text-decoration: underline;
}
/* line 73, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 78, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 81, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
h1 {
  font-size: 1.313em;
  line-height: 2.286em;
  margin-bottom: 1.143em;
}

/* line 88, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
h3 {
  font-weight: bold;
}

/* line 91, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
h4 {
  text-transform: lowercase;
}

/* line 95, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 100, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 103, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* line 106, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 110, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
sup {
  vertical-align: super;
}

/* line 113, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
sub {
  vertical-align: sub;
}

/* line 116, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 120, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 123, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 126, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 131, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 134, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
q {
  font-style: italic;
}
/* line 136, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 144, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 147, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 154, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 160, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 167, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 171, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 174, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
ul {
  list-style: disc;
}
/* line 176, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
li ul {
  list-style-type: circle;
}

/* line 179, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 183, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 189, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 195, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 198, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 201, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 206, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 209, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 217, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 221, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 225, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 228, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 231, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
label {
  font-weight: bold;
}

/* line 236, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  height: 2.571em;
}

/* line 246, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 257, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 259, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 262, /Users/jamescroft/Development/static-map-generator/source/stylesheets/_defaults.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 4 */
.container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
}
/* line 38, /Users/jamescroft/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
