!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Simple Site
    %link{href:'stylesheets/application.css', rel:"stylesheet", type:"text/css"}
  %body.show-rhythm
    .container.show-grid
      %h1 Simple Site
    %script{type:'text/javascript', src:'/javascripts/compiled.js'}
