!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Simple Site
    %link{href:'stylesheets/application.css', rel:"stylesheet", type:"text/css"}
  %body
    %header
      %h1 Orangetrack
    .grid
      #app
        #main
          #sidebar
            .sidebar
              %ul
                - 40.times do
                  %li Sidebar
          #map-container
            #map
