!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Simple Site
    %link{href:'stylesheets/application.css', rel:"stylesheet", type:"text/css"}
  %body
    .container
      %h1 Simple Site
    %script{type:'text/javascript', src:'/javascripts/libs/jquery-1.6.1.min.js'}
    %script{type:'text/javascript', src:'/javascripts/application.js'}
